/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

/* BODY */
body {
  /* background-color: #f4f6fb; */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MAIN WRAPPER */
.bungkus-besar {
  width: 900px;
  min-height: 520px;
  /* background-color: #ffffff; */
  display: flex;
  border-radius: 14px;
  /* box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1); */
  overflow: hidden;
}

/* ================= KIRI ================= */
.bagian-kiri {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* LOGO */
.area-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}

.logo {
  width: 150px;
}

.teks-logo {
  font-weight: bold;
  font-size: 16px;
}

/* BACK TO LOGIN */
.area-kembali {
  margin-bottom: 20px;
}

.tombol-kembali {
  text-decoration: none;
  color: #555;
  font-size: 14px;
}

.tombol-kembali:hover {
  text-decoration: underline;
}

/* JUDUL */
.area-judul {
  margin-bottom: 30px;
}

.judul {
  font-size: 28px;
  margin-bottom: 10px;
  color: black;
}

.deskripsi {
  font-size: 14px;
  color: #666;
}

/* INPUT */
.area-input {
  margin-bottom: 25px;
}

.label-input {
  font-size: 14px;
  color: #444;
  margin-bottom: 6px;
  display: block;
}

.kotak-input {
  position: relative;
  margin-top: 5px;
}

.input-kode {
  width: 100%;
  padding: 12px 40px 12px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
  transition: 0.2s;
}

/* .input-kode:focus {
  border-color: blue;
  outline: none;
} */

/* ICON MATA */
.ikon-mata {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* RESEND */
.teks-resend {
  margin-top: 10px;
  font-size: 13px;
  color: #555;
}

.link-resend {
  color: blue;
  text-decoration: none;
  font-weight: bold;
}

.link-resend:hover {
  text-decoration: underline;
  background-color: aqua;
}

/* BUTTON */
.area-tombol {
  margin-top: 10px;
}

.tombol-verifikasi {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  background-color: blue;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.tombol-verifikasi:hover {
  background-color: green;
}

/* ================= KANAN ================= */
.bagian-kanan {
  flex: 1;
  /* background-color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.kotak-gambar {
  width: 100%;
  max-width: 350px;
}

.gambar-keamanan {
  width: 100%;
}
