* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* ===== Body ===== */
body {
  background: black;
  color: white;
  line-height: 1.6;
}

/* ===== Header ===== */
.kepala {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(purple, blue);
}

.nama {
  font-size: 48px;
  margin-bottom: 10px;
}

.profesi {
  font-size: 18px;
  margin-bottom: 20px;
}

.tombol {
  text-decoration: none;
  color: white;
  background: black;
  padding: 10px 25px;
  border-radius: 30px;
  transition: 0.3s;
}

.tombol:hover {
  background: white;
  color: black;
}

/* ===== Section ===== */
section {
  padding: 60px 12%;
}

/* ===== Tentang ===== */
.tentang p {
  margin-top: 15px;
  max-width: 600px;
}

/* ===== Keahlian ===== */
.daftar-keahlian {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.daftar-keahlian span {
  background: aquamarine;
  padding: 8px 15px;
  border-radius: 20px;
}

/* ===== Project ===== */
.project {
  background: black;
}

.kartu-project {
  background: black;
  padding: 20px;
  border-radius: 15px;
  margin-top: 20px;
  transition: 0.3s;
}

.kartu-project:hover {
  transform: translateY(-5px);
  background: aquamarine;
}

/* ===== Kontak ===== */
.kontak p {
  margin-top: 10px;
}

/* ===== Footer ===== */
.bawah {
  text-align: center;
  padding: 20px;
  background: black;
  margin-top: 40px;
}
